# Java
target/
*.class
*.jar
*.war

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env

.env
.env.test
.env.production

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db